<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <%= link_to t(".website"), "#", id: "logo" %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), "#" %></li>
        <li><%= link_to t(".help"), "#" %></li>  
        <li><%= link_to t(".all_users"), users_path %></li>    
        <li><%= link_to t(".log_in"), "#" %></li>
        <li><%= link_to t(".sign_up"), signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
